<h1>Editing listing: <%= @icecream.name %></h1>

<%= form_for @icecream do |icecream| %>
	<%= icecream.label :name %>
	<%= icecream.text_field :name %>
	
	<%= icecream.label :price %>
	<%= icecream.text_field :price %>
	
	<%= icecream.submit "Update Flavor!"%>
<% end %>
