<h1>Listing for <%= @icecream.name %></h1>
<p>
	Price: $<%= @icecream.price%>
</p>

<% if @user %>	
	<%= link_to "Edit", edit_icecream_path %>
	<%= link_to "Delete", icecream_path(@icecream.id), method: 'delete', confirm: "Are you sure?" %>
<% end %>

<%= link_to "Home", icecreams_path %>